body {
	background: #000000;
	color: #ffffff;
}

.Root {
	height: 100vh;
	width: 100;
	padding: 1vw;
}

.Root:focus {
	outline: none;
}

.Logo {
	width: 5vw;
}

.Header {
	text-align: center;
	margin-bottom: 2vw;
}

.Col {
	color: #cccccc;
	text-align: center;
	font-size: 1vw;
	width: 1vw;
	height: 10vw;
	word-wrap: break-word;
	margin-bottom: 1vw;
	border: transparent solid 0.25vw;
}

.Colh {
	border: #ffffff solid 0.25vw;
	cursor: pointer;
}

.Filemanager {
	text-align: center;
}

.Filemanager svg {
	color: #196179;
	font-size: 5vw;
}

.Filemanager video {
	outline: none;
	width: 90vw;
	cursor: none;
}
